<section>
    <div class="container-fluid">
        <div class="row">
            <div
                class="p-4 shadow-lg mb-5 rounded col-10 col-md-4 mx-auto position-absolute top-50 start-50 translate-middle text-center">
                <h1 class="mb-4 fw-bold"><span class="h3">SignUp To </span> ChatsApp</h1>
                <form id="signUpForm">
                    <div class="mb-4">
                        <img src="/images/Profile pictures/thumbnail.png"
                            class="btn profile_picture_thumbnail shadow btn-light border rounded-circle p-1"
                            id="profile_picture_thumbnail">
                        <input type="file" class="form-control d-none" accept="image/*" id="profile_picture"
                            name="profile_picture">
                        <p class="mt-2">Upload Photo</p>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="user_name" name="user_name"
                            placeholder="Username">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="email_address" name="email_address"
                            placeholder="Email Address">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="New password">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="confirm_password"
                            placeholder="Confirm password">
                    </div>
                    <div class="mb-3">
                        <a href="/">Already have account ?</a>
                    </div>
                    <div class="mb-3">
                        <p class="text-danger" id="signup_error_message"></p>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">SignUp</button>
                </form>
            </div>
        </div>
    </div>
</section>